$slate: #545666;
$grey: #444;
$sea: #429d8c;
$sea-dark: #337367;
$punch: #ff1160;

body {
	background: $slate;
	color: $grey;
}
.container {
	width: 90%;
	max-width: 960px;
	margin: 80px auto;
	border-radius: 3px;
	box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
	background: white;
}
.error {
	color: $punch;
	background: #ffebee;
	padding: 10px;
	width: 100%;
	display: block;
	margin: 5px auto 0;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 14px;
}
button {
	text-decoration: none;
	background: $sea;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 20px;
	padding: 10px 30px;
	cursor: pointer;

	&:hover {
		background: $sea-dark;
	}
}