$slate: #545666;
$grey: #444;
$sea: #429d8c;
$sea-dark: #337367;
$punch: #ff1160;

:root {
  --background-color: #1d1d1d;
  --text-color: #bfbfbf;
	--container-color : #242424;
}

[data-theme="dark"] {
  --background-color: #1d1d1d;
  --text-color: #bfbfbf;
	--container-color : #242424;
}

[data-theme="light"] {
  --background-color: #545666;
  --text-color: #525252;
	--container-color : #fdfdfd;
}

body {
	background: var(--background-color);
	color: $grey;
}
.container {
	width: 95%;
	margin: 2rem auto;
	border-radius: 4px;
	box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
	background: var(--container-color);
	color: var(--text-color);
}
.error {
	color: $punch;
	background: #ffebee;
	padding: 10px;
	width: 100%;
	display: block;
	margin: 5px auto 0;
	border-radius: 3px;
	font-size: 14px;
}
button {
	text-decoration: none;
	background: $sea;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 20px;
	padding: 10px 30px;
	cursor: pointer;

	&:hover {
		background: $sea-dark;
	}

	&:disabled {
		background: #bdbdbd;
		cursor: not-allowed;
	}
}
.home {
	text-align: center;
	padding: 20px 0;
	form {
		width: 300px;
		margin: 20px auto;
	}
	label {
		display: block;
		margin: 20px 0 10px;
	}
	input {
		width: 100%;
		padding: 10px;
		border-radius: 3px;
		border: 1px solid #eee;
		outline: none;
		color: $slate;
		margin: 10px auto;
		background-color: var(--container-color);
		color: var(--text-color);

		&::placeholder {
			color: var(--text-color)
		}
	}
	span {
		font-weight: bold;
		text-decoration: underline;
		cursor: pointer;
		color: $sea;
	}
	button {
		margin: 20px auto;
	}
}
.material-icons {
	font-size: 24px;
	color: #bbb;
	cursor: pointer;
}
.material-icons:hover {
	color: #777
}
